html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	z-index: 0;
	position: relative;
}

h1, h3 {
	font-family: 'Lato', sans-serif;
}

h2, p, a, span, figcaption {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 1.2em;
}