header {
	padding-top: 8em;
	background-color: #ffffff;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 32em;
	box-sizing: border-box;

	&:after {
		content: '';
		background: inherit;
		display: block;
		height: 50%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		transform: skewY(-1.5deg);
		transform-origin: 100%;
		z-index: -1;
		box-shadow: 0 6px 4px -1px rgba(0,0,0,0.06), 0 8px 5px -4px rgba(0,0,0,0.06), 0 5px 10px -4px rgba(0,0,0,0.08);
		outline: 1px solid transparent;

	}

	object {
		margin: 0 auto 8vh auto;
		display: block;
		width: 50%;
		max-width: 20em;
	}

	h1, h2 {
		text-align: center;
		color: $colour-primary;
	}

	h1 {
		font-size: 3em;
		margin: 0;
	}

	h2 {
		font-size: 2em;
		margin: 0;
		padding-bottom: 2rem;
	}

}

@media screen and (min-width: 600px) {
	object {
		margin: 10em auto 8em auto;
	}
}