main {
	text-align: center;
	z-index: 1;
	padding-top: 32em;

	section {
		width: 100%;
		padding: 1.5em 1em;
		box-sizing: border-box;
		position: relative;
		background-color: $colour-primary;
		color: #fff;

		&:nth-of-type(even) {
			background-color: #fff;
			color: $colour-primary;
		}

		&:not(:last-child):after {
			content: '';
			background: inherit;
			display: block;
			height: 50%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			transform: skewY(-1.5deg);
			transform-origin: 100%;
			z-index: -1;
			box-shadow: 0 6px 4px -1px rgba(0,0,0,0.06), 0 8px 5px -4px rgba(0,0,0,0.06), 0 5px 10px -4px rgba(0,0,0,0.08);
			outline: 1px solid transparent;
		}

		h3, p {
			max-width: 45em;
			margin-left: auto;
			margin-right: auto;
		}

		h3 {
			font-size: 1.6em;
			margin: 0.5em 0 0.5em 0;
		}

		a {
			color: #fff;
		}
	}

	.bio {
		z-index: 1;
	}

	.technologies {
		margin-bottom: 20em;
	}
}